@model IdentityUser
@{
    ViewBag.Title = "Profile";
}
<div class="row profile">
    <div class="col-md-3 bcolor">
        <div class="profile-sidebar mt-2">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic text-center">
                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                   @Model.UserName
                </div>
                <div class="profile-usertitle-job">
                   
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            @*<div class="profile-userbuttons">
                <button type="button" class="btn btn-success btn-sm">Follow</button>
                <button type="button" class="btn btn-danger btn-sm">Logout</button>
            </div>*@

        </div>
    </div>
    <div class="col-md-9 bcolor">
        <div class="profile-content mt-2">
            <div class="" id="alert" role="alert">
                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
            </div>
            Profile
            <form method="POST" action="/Account/Profile">

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                    <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                    <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
                <div class="form-group float-right">
                    <input type="submit" value="Update" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>
</div>